:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*CONTAINERS*/
body {
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

#bodyContent {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;

}

#uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#visContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#midiVisualizer {
  display: flex;
  align-items: flex-end;
  overflow-x: auto;
  overflow-y: hidden;
}

#playerRoll {
  display: column;
  align-items: center;
  justify-content: center;
}
/*MIDI*/
midi-player {
  display: block;
  max-width: 100%;
  margin: 4px;
  margin-bottom: 0;
}

midi-player::part(control-panel) {
  background: #1a1a1a;
}

midi-player::part(play-button) {
  color: #646cff;
  border: 2px solid currentColor;
  background-color: #242424;
  border-radius: 20px;
}

midi-player::part(play-button):hover {
  color: #ffffff;
  background-color: #646cff;
  border-radius: 10px;
}

midi-player::part(time) {
  font-family: monospace;
  color: #ffffff;
}
/* ===== MIDI VISUALIZER ===== */
midi-visualizer .piano-roll-visualizer {
  background: #1a1a1a;
  border: 2px solid #646cff;
  border-left: none; /* merges with piano */
  margin: 4px 4px 4px 0;
  overflow: scroll;
  height: 450px;
  max-width: 800px;
}

/* notes */
midi-visualizer svg rect.note {
  opacity: 0.6;
  stroke-width: 2;
  fill: #ffffff;
  stroke: #aaaaaa;
}

midi-visualizer svg rect.note.active {
  opacity: 0.9 !important;
  fill: #646cff !important;
  stroke: #646cff !important;
}


/* ===== PIANO KEYS ===== */
#piano-container {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 80px;
  background: #111;
  border: 2px solid #646cff;
  border-right: none; /* merges with visualizer */
  margin: 4px 0 4px 4px;
  flex-shrink: 0;
}

/* hide scrollbar (clean look) */
#piano-container::-webkit-scrollbar {
  display: none;
}


/* base key */
.piano-key {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6px;
  box-shadow: inset 0 -1px 0 #222;
  font-size: 7px;
  user-select: none;
}


/* white keys */
.piano-key.white {
  height: 7.5px;
  background: #ffffff;
  color: #000;
}


/* black keys */
.piano-key.black {
  height: 7.5px;
  background: #000;
  color: #fff;
}


/* active note */
.piano-key.active {
  background: #ca0909 !important;
  color: #fff !important;
  box-shadow: 0 0 6px #646cff;
}


/* optional hover polish */
.piano-key.white:hover {
  background: #ddd;
}

.piano-key.black:hover {
  background: #222;
}
/*ELEMENTS*/
h1 {
  font-size: 3rem;
}

p {
  text-align: center;
  font-size: 1.7rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

